/* shared styles */
* {
    margin: 0px;
    padding: 0px;
}

/* header related styles */

.header-container {
    background: url('../images/Banner\ Image.png');
    margin: 50px 140px auto 140px;
    border-radius: 15px;
    width: 1600px;
    height: 750px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header-title {
    color: #ffffff;
    text-align: center;
    font-family: Merriweather;
    font-size: 35px;
    padding: 175px 530px 0px 530px;
    padding-bottom: 15px;
}

.header-heading {
    color: #ffffff;
    text-align: center;
    font-family: Merriweather;
    font-size: 75px;
    font-weight: 900;
    padding: 0px 345px 175px 345px;
}

/* main related styles */

.holiday-deals {
    margin: 120px 400px auto 420px;
}

.sell {
    text-align: center;
    font-family: inter;
}

.discount {
    color: #ff0000;
    font-size: 90px;
    font-weight: 700;
    padding-bottom: 50px;
}

.catchphrase {
    color: #ff0000;
    font-size: 25px;
    font-weight: 500;
    padding-bottom: 15px;
}

.categories {
    color: #070211;
    font-size: 50px;
    font-weight: 700;
    padding-bottom: 50px;
}

.party {
    background: url('../images/Vectorrr.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 120px 140px 120px 140px;
    width: 1600px;
    height: 700px;
    border-radius: 15px;
}

.party-container {
    display: flex;
}

.invitation-title {
    color: #ffffff;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    padding: 125px 95px 50px 125px;
}

.invitation-content {
    color: #ece8e8;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    padding: 0px 125px 60px 125px;
}

.btn {
    color: #ffffff;
    font-family: Inter;
    font-size: 30px;
    font-weight: 700;
    padding: 0px 0px 145px 160px;
    background: none;
    border: none;
}

.btn:hover {
    color: darkcyan
}

.year-2024 {
    padding: 130px 140px 100px 45px;
}

.address {
    background: #f1e9e9;
    margin: 0px 140px 120px 140px;
    border-radius: 15px;
    width: 1600px;
    height: 460px;
}

.address-container {
    text-align: center;
    padding: 100px 385px 110px;
}


.address-info {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 15px;
}

.info-title {
    color: #ff0000;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
}

.btn-one {
    color: #ffffff;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    padding: 16px 32px;
    background: #ff0000;
    border: none;
    margin-top: 50px;
    border-radius: 10px;
}

.pre-order {
    margin: 0px 140px 120px 140px;
}

.offer-container {
    display: flex;
    justify-content: space-between;
}

.offer-content {
    width: 390px;
}

.offer {
    color: #F00;
    font-family: Inter;
    font-size: 25px;
    font-weight: 500;
    padding: 15px;
    margin-top: 105px;
}

.soon {
    color: #070211;
    font-family: Merriweather;
    font-size: 49px;
    font-weight: 900;
    padding-bottom: 25px;
}

.offer-details {
    color: #7f7e83;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

.sperkle {
    padding: 30px;
    border: 20px solid #ff0000;
    border-radius: 100%;
}

.year {
    color: #ff0000;
    font-family: Inter;
    font-size: 50px;
    font-weight: 700;
    padding-bottom: 15px;
    margin-top: 115px;
}

.text {
    color: #7f7e83;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    width: 275px;
    padding-bottom: 45px;
}

.holiday-sale {
    margin: 0px 140px 110px 140px;
}

.discount-two-container {
    text-align: center;
}

.function {
    color: #070211;
    font-family: Inter;
    font-size: 25px;
    font-weight: 500;
    padding-bottom: 10px;
}

.red-black {
    color: #ff0000;
    font-family: Merriweather;
    font-size: 70px;
    font-weight: 900;
    padding-bottom: 30px;
}

.sale-fifty {
    color: #070211;
}

.discount-two {
    color: #7f7e83;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    padding: 0px 125px 65px 125px;
}

.img-grp{
    display: flex;
    justify-content: space-between;
    margin: 0px 160px 0px 140px;
    background-image: url('../images/Rectangle\ 1.png'), url('../images/Rectangle\ 2.png');
    background-repeat: no-repeat;
    background-position: top right , bottom;
}

.grp-44{
    position: absolute;
    padding: 70px 735px;
}

.portfolio-container{
    margin: 0px 140px 120px 140px;
}

.gift{
    color: #ff0000;
font-family: Inter;
font-size: 25px;
font-weight: 500;
padding-bottom: 15px;
}

.portfolio{
    color: #070211;
font-family: Merriweather;
font-size: 50px;
font-weight: 900;
padding-bottom: 25px;
}

.portfolio-details{
    color: #595169;
font-family: Inter;
font-size: 20px;
font-weight: 400;
width: 895px;
}

.div-btn{
    border: none;
    padding: 50px 95px 50px 0px;
    background: none;
}

.div-btn:hover{
    cursor: pointer;;
}

.sign-in{
    margin: 0px 140px 120px 140px;
    text-align: center;
    background: #f1ecec;
    border-radius: 15px;
    height: 615px;
}

.sign-in > img{
    padding: 80px 0px 40px 0px;
}

.sign-in > h2{
    color: #070211;
font-family: Merriweather;
font-size: 50px;
font-weight: 900;
}

.sign-in > p{
    color: #595169;
font-family: Inter;
font-size: 20px;
font-weight: 400;
padding: 25px 215px 50px;
}

.sign-in > form{
    background-color: #ffffff;
    text-align: center;
    margin: 0px 554px;
    border-radius: 50px;
} 

.email{
    color: #9d8fb9;
font-family: Inter;
font-size: 20px;
font-weight: 400;
padding: 25px 0px 25px 30px;
border: none;
border-radius: 50px 0px 0px 50px;
}

.sub-btn{
    color: #ffffff;
font-family: Inter;
font-size: 20px;
font-weight: 600;
padding: 25px 55px;
background: #ff0000;
border: none;
border-radius: 0px 50px 50px 0px;
}


